<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/main}">
                <div class="row">
                    <div class="col">
                        <img th:src="@{/img/logo.png}" alt="" width="120" height="120" class="d-inline-block align-text-top" th:href="@{/main}">
                    </div>
                    <div class="h1 col align-self-center" th:href="@{/main}">
                        Car manager
                    </div>
                </div>
            </a>
            <div>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/logout}">Logout</a>
            </div>
            <form class="container-fluid justify-content-start">
                <a class="btn btn-lg btn-outline-secondary" th:href="@{/car/allCars}">Cars</a>
                <a class="btn btn-lg btn-outline-secondary" th:href="@{/employee/allEmployees}">Employees</a>
                <a class="btn btn-lg btn-outline-secondary" th:href="@{/employee/managerList}">Managers</a>
            </form>
        </div>
    </nav>
</header>

</body>
</html>