<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/styles/error.css}" rel="stylesheet">
</head>
<body>

<div class="page-403">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>403</span></div>
                <span class="inner-status">Opps! Forbidden code!</span>
                <span class="inner-detail">Unfortunately you don't have authorization for this page. </span>
            </div>
        </div>
    </div>
</div>


</body>
</html>